---
layout: page
# All the Tags of posts.
---

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tags = '' | split: '' %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}

  {% for t in sorted_tags %}
    {% assign tag_slug = site.data.tag_slugs[t] | default: t | slugify: 'latin' %}
    {% if tag_slug == empty %}
      {% assign tag_slug = t | downcase | replace: ' ', '-' | replace: '--', '-' %}
    {% endif %}
    <div>
      <a class="tag" href="{{ tag_slug | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ t -}}
        <span class="text-muted">{{ site.tags[t].size }}</span>
      </a>
    </div>
  {% endfor %}
</div>
